.driver-tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.last{
    margin-left: auto;
    margin-right: 10px;
}

.picked-vehicle-info{
    min-height: 3rem;
    margin: 16px 0;
    display: flex;
}
.picked-vehicle-info p{
    align-items: center;
    padding-left: 15px;
}
