.submitlabel{
    min-width: 150px;
}
.problem-input{
    width: 100%;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}
.flex-end button{
    margin-right: 1.25rem;
}