.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content{
  margin: 0 auto;
  width: 95%;
}
nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: #2f908c;
  border: transparent 0px solid;
  border-radius: 0.75rem;
}
fieldset{
  margin: 0 1rem;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: #2f908d67 2px 1px;
}
button{
  background-color: #50a8a5;
  border-color: #2f908c;
  border-radius: 3px;
  width: auto;
  min-width: 90px;
  padding: 4px 6px;
}
button:hover{
  background-color: #096b68;
}
label{
  min-width: 90px;
}
input{
  border: 1px solid;
  border-radius: 4px;
}
hr{
  margin: 0;
  height: 0.25rem;
  background-color: #d4d4d4;
  border: 0 solid white;
}
nav p{
  margin-right: 1.25rem;
}

button{
  cursor: pointer;
}

.clickable{
  cursor: pointer;
}

.center{
  text-align: center;
}

.register-form{
  display: flex;
  flex-flow: row wrap;
}

.half-width{
  width: 50%;
  min-width: 320px;
}

.pa05{
  padding: 0.5rem;
}

.fill-width{
  width: 100%;
}

.flex{
  display: flex;
}

.validation-label{
  min-width: 130px;
}
.appointments, .diagnostics, .picked-vehicle{
  border: 1.5px solid black;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.awaiting-diagnostics:last-child, .awaiting-approval:last-child{
  margin-bottom: .5em;
}

.appointment-card{
  padding-block-start: 1em;
  padding-block-end: 1em;
}
.appointment-card p{
  margin: 0;
}
.submit-button{
  padding: 5px 10px;
  margin: .75rem;
}
.warning{
  background: linear-gradient(to left, #FD7F2C, #FD9346);
}
.padding-block{
  padding: 1rem .75rem;
}